.appBar--bar {
  height: 80px;
  width: 100%;
  display: flex;
  background-color: #3e3e8f;
  color: white;
  position: relative;
}

.appBar--content {
  display: block;
}

.appBar--root {
  display: flex;
  flex-direction: column;
}

.topbar--gameNameInput {
  border: 0;
  width: 100%;
  border-bottom: solid rgba(255,255,255, 0) 2px;
  background-color: rgba(255,255,255, 0);
  color: inherit;
  font-size: inherit;
  transition: 0.1s all;
}


.topbar--gameNameInput:focus {
  background-color: rgba(255,255,255, 0.2);
  border-bottom: solid rgba(255,255,255, 1) 2px;
}

.topbar--spacer {
  height: 56px;
}
